services:
  express-app:
    image: ruhulaminjr/express-app
    container_name: express-app              
    ports:
      - "8080:8080"                         
    restart: unless-stopped                  
    labels:                                 
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: unless-stopped                  
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=30           
      - WATCHTOWER_CLEANUP=true               
    command: express-app

networks:
  default:
    name: express-network